[ ca ]
default_ca	= serverca

[ serverca ]
dir              = .
certificate      = $dir/servercacert.pem
database         = $dir/index.txt
new_certs_dir    = $dir/certs
private_key      = $dir/private/servercakey.pem
serial           = $dir/serial
 
default_crl_days = 7
default_days     = 365
default_md       = sha1
 
policy           = serverca_policy
 
[ serverca_policy ]
countryName            = supplied
stateOrProvinceName    = supplied
localityName           = supplied
organizationName       = supplied
organizationalUnitName = optional
commonName             = supplied
emailAddress           = supplied
 
[ req ]
default_bits		= 2048
default_keyfile 	= ./private/servercakey.pem
default_md          = sha1

prompt              = no
distinguished_name	= req_distinguished_name
x509_extensions		= req_extensions

[ req_distinguished_name ]
countryName            = US
stateOrProvinceName    = Virginia
localityName           = Fairfax
organizationName       = Zork.org
organizationalUnitName = Server Division
commonName             = Server CA

[ req_extensions ]
basicConstraints = CA:true