[SSLConf]
Version = Compatible_server # SSLv3, TLSv1, TLSv1.1, TLSv1.2, Compatible
Authentication = AUTH_REQUIRE # AUTH_NONE, AUTH_REQUEST, AUTH_REQUIRE
CipherSuite = ALL:!LOW:!EXP:!MD5:!aNULL:@STRENGTH

[Verification]
CAFile = rootCAcert.pem
CRLFile = crl.pem
OwnCert = servercert.pem
OwnPrivateKey = serverkey.pem
AcceptableSubjectAltName = *@zork.org