[ req ]
default_md          = sha1

prompt              = no
distinguished_name	= req_distinguished_name
x509_extensions		= req_extensions

[ req_distinguished_name ]
countryName            = US
stateOrProvinceName    = Virginia
localityName           = Fairfax
organizationName       = Server
commonName             = server.easyssl.com
emailAddress           = server@easyssl.com

[ req_extensions ]
basicConstraints = CA:false
subjectAltName = DNS:server.easyssl.com, email:copy