[ ca ]
default_ca	= rootca

[ rootca ]
dir              = .
certificate      = $dir/rootCAcert.pem
database         = $dir/index.txt
new_certs_dir    = $dir/certs
private_key      = $dir/private/rootCAkey.pem
serial           = $dir/serial

crlnumber        = $dir/crlnumber
crl_extensions   = crl_ext

default_crl_days = 7
default_days     = 365
default_md       = sha1
 
policy           = root_ca_policy
 
[ root_ca_policy ]
countryName            = supplied
stateOrProvinceName    = supplied
localityName           = supplied
organizationName       = supplied
organizationalUnitName = optional
commonName             = supplied
emailAddress           = supplied
 
[ req ]
default_bits		= 2048
default_keyfile 	= ./private/rootCAkey.pem
default_md          = sha1

prompt              = no
distinguished_name	= root_ca_distinguished_name
x509_extensions		= root_ca_extensions

[ root_ca_distinguished_name ]
countryName         = US
stateOrProvinceName = Virginia
localityName        = Fairfax
organizationName    = Zork.org
commonName          = Root CA
emailAddress        = root@zork.org

[ root_ca_extensions ]
basicConstraints = CA:true
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer:always
crlDistributionPoints = URI:http://easyssl.com/crl.pem

[ crl_ext ]